<section id="cinema" class="pt-4 pb-5">
            <div class="container">
                <div class="row trend_1">
                    <div class="col-md-6 col-6">
                        <div class="trend_1l">
                            <h4 class="mb-0">
                                <i
                                    class="fa fa-youtube-play align-middle col_red me-1"
                                ></i>
                                Phim <span class="col_red">Đang Chiếu</span>
                            </h4>
                        </div>
                    </div>
     
                </div>
                <div class="row trend_2">
                    <div class="col-md-4 offset-md-1 col-4 rap">
                        <div class="list-group">
                            <a
                                href="#"
                                class="header_rap list-group-item list-group-item-action disabled"
                                aria-current="true"
                                style="
                                    text-align: center;
                                    background-color: #de1002;
                                    color: #ffffff;
                                "
                            >
                                Chọn Chi Nhánh
                            </a>
                            {{#each cumrap}}
                            <a
                                href="/booking/ticket?name={{this}}"
                                class="tenRap list-group-item list-group-item-action "
                                data-name="{{this}}"
                                >{{this}}</a>
                            {{/each}}
                            
                        </div>
                        
                    </div>
                    <div class="col-md-4 offset-md-2 col-4 rap">
                        <div class="list-group">
                            <a
                                href="#"
                                class="header_rap list-group-item list-group-item-action disabled"
                                aria-current="true"
                                style="
                                    text-align: center;
                                    background-color: #de1002;
                                    color: #ffffff;
                                "
                            >
                                Chọn Suất Phim
                            </a>
                            <a
                                href="#"
                                class="list-group-item list-group-item-action"
                                >Mời chọn suất phim</a>
                            {{#each suatphim}}
                            <a
                                href="/booking/seat?masuatphim={{this.MaSuatPhim}}&macumrap={{this.MaCumRap}}"
                                class="list-group-item list-group-item-action"
                                >{{this.TenPhim}} - {{this.Gio}} - {{this.Ngay}}</a
                            >
                            {{/each}}
                        </div>
                    </div>
            
                </div>
            </div>
            
        </section>

        <script>
            window.onscroll = function () {
                myFunction();
            };

            var navbar_sticky = document.getElementById("navbar_sticky");
            var sticky = navbar_sticky.offsetTop;
            var navbar_height = document.querySelector(".navbar").offsetHeight;

            function myFunction() {
                if (window.pageYOffset >= sticky + navbar_height) {
                    navbar_sticky.classList.add("sticky");
                    document.body.style.paddingTop = navbar_height + "px";
                } else {
                    navbar_sticky.classList.remove("sticky");
                    document.body.style.paddingTop = "0";
                }
            }
            $(".tenRap").click(function(){
              
                console.log($(this).attr("data-name"))
            })
        </script>