<br><br><br>
<div class="container">
        <h2>Thanh toán hóa đơn</h2>
        <br>
        <div style="display:flex">
            
            <table>
                <tr>
                    <th><b>Tên Phim: </b></th>
                    <th>{{tenphim}}</th>
                </tr>
                <tr>
                    <th><b>Tên Chi Nhánh:</b></th>
                    <th>{{tenchinhanh}}</th>
                </tr>
                <tr>
                    <th><b>Giờ Chiếu:</b></th>
                    <th>{{giochieu}}</th>
                </tr>
                <tr>
                    <th><b>Ngày Chiếu:</b></th>
                    <th>{{ngaychieu}}3</th>
                </tr>
                <tr>
                    <th><b>Rạp:</b></th>
                    <th>{{rap}}</th>
                </tr>
                <tr>
                    <th><b>Số Vé:</b></th>
                    <th>{{sove}}</th>
                </tr>
                <tr>
                    <th><b>Tiền Vé Đơn:</b></th>
                    <th>{{giave}}.000VND</th>
                </tr>
                <tr>
                    <th><b>Combo bắp nước:</b></th>
                    <th>{{combo}}</th>
                </tr>
                <tr>
                    <th><b>Tổng:</b></th>
                    <th>{{tong}}.000VND</th>
                </tr>
            </table>
            <div style="margin-left:50px">
                <img style="width: 300px;height: 300px;"src="{{poster}}" alt="">
            </div>
            <div style="margin-left:50px; height: 300px;">
                <img style="height: 100%;" src="" alt="">
            </div>
        </div>
        <br>
        <a href="/booking/history" class="btn btn-outline-danger btn-block">Tiếp tục</a>
</div>
<br>
<br>
<br>