<div class="container">
    <h1>Chi Tiết Phim</h1>
    <br>
    <div style="display:flex">
        <div style="margin-right:50px">
            <img style="width:300px;height:200px"src="{{movie.Poster}}" alt="">
        </div>
        {{#if movie}}
        <table>
            <tr>
                <th><b>Tên Phim: </b></th>
                <th>{{movie.TenPhim}}</th>
            </tr>
            <tr>
                <th><b>Thời lượng:</b></th>
                <th>{{movie.ThoiLuong}} phút</th>
            </tr>
            <tr>
                <th><b>Định dạng:</b></th>
                <th>{{movie.DinhDang}}</th>
            </tr>
            <tr>
                <th><b>Ngày Khởi Chiếu:</b></th>
                <th>{{movie.NgayKhoiChieu}}</th>
            </tr>
            <tr>
                <th><b>Rating:</b></th>
                <th>{{movie.Rating}}/10</th>
            </tr>

        </table>

    </div>
    <a style="width:100px; margin-left:100px"href= "/booking/ticket?idMovie={{movie.MaPhim}}" class="btn btn-danger btn-block">Mua Vé</a>
    <br>
    <br>
    <div style="display:flex;">
        <div style="margin-right: 50px">
            <h1>Trailer:</h1>
            <iframe width="560" height="315" src="{{movie.Trailer}}"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
        <div>
            <h1>Giới Thiệu:</h1>
            <p>{{movie.TomTat}}</p>
        </div>
    </div>
    {{/if}}
    <br>

    <br>
    <br>
</div>
<br>
<br>
